name: Concatenate Strings

on: [push]

env:
  DEVNAME_SUFFIX: nunu

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Concatenate strings using format
      run: echo "FULL_PATH=${{ format('{0}/{1}.{2}', env.FOLDER, env.FILENAME, env.EXT) }}" >> $GITHUB_ENV
      env:
        FOLDER: 'my_folder'
        FILENAME: 'my_file'
        EXT: 'txt'

    - name: Use concatenated string
      run: echo "The full path is $FULL_PATH"
# fix formats of variables

    - name: apigw-devname
      run: echo "APIGW_NAME=${{ format('{0}-{1}', env.APIGW, env.DEVNAME) }}" >> $GITHUB_ENV
      env:
        APIGW: 'apigw'
        DEVNAME: ${{ env.DEVNAME_SUFFIX }}
    - name: Use concatenated string
      run: echo "The apigw-devname is $APIGW_NAME"
