name: Concatenate Strings

on: [push]

env:
  DEVNAME_SUFFIX: nunu
  NODE_ENV: devops

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Concatenate strings using format
      run: echo "FULL_PATH=${{ format('{0}/{1}.{2}', env.FOLDER, env.FILENAME, env.EXT) }}" >> $GITHUB_ENV
      env:
        FOLDER: 'my_folder'
        FILENAME: 'my_file'
        EXT: 'txt'    

# fix formats of variables
    # Runs multiple command to concatenate strings
    - id: string
      uses: ASzc/change-string-case-action@v6
      with:
        string: ${{ env.DEVNAME_SUFFIX }}
    - id: step2
      run: |
        echo DEVNAME_SUFFIX_CAPITALIZED=${{ steps.string.outputs.capitalized }} >> $GITHUB_ENV
        echo ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
        echo "the name of the devname is capitalized: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}"

  # fix formats of variables apigw-devname
    - name: apigw-devname
      run: echo "APIGW_NAME=${{ format('{0}-{1}', env.APIGW, env.DEVNAME) }}" >> $GITHUB_ENV
      env:
        APIGW: 'apigw'
        DEVNAME: ${{ env.DEVNAME_SUFFIX }}
    - name: Use concatenated string apigw-devname
      run: echo "The apigw-devname is $APIGW_NAME"

    # fix formats of variables auth-pulumistack
    - name: auth-pulumistack
      run: echo "AUTH_NAME=${{ format('{0}-{1}', env.AUTH_ENV_NAME, env.NODE_ENV_NAME) }}" >> $GITHUB_ENV
      env:
        AUTH_ENV_NAME: 'auth'
        NODE_ENV_NAME: ${{ env.NODE_ENV }}
    - name: Use concatenated string auth-pulumistack
      run: echo "The auth-pulumistack is $AUTH_NAME"

  # fix formats of variables cdnDappDevname
    - name: cdnDappDevname
      run: echo "CDNDAPP_NAME=${{ format('{0}{1}', env.CDNDAPP2, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNDAPP2: 'cdnDapp'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnDappDevname
      run: echo "The cdnDappDevname is $CDNDAPP_NAME"

  # fix formats of variables cdnStoreDevname
    - name: cdnStoreDevname
      run: echo "CDNSTORE_NAME=${{ format('{0}{1}', env.CDNSTORE, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNSTORE: 'cdnStore'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnStoreDevname
      run: echo "The cdnStoreDevname is $CDNSTORE_NAME"

  # fix formats of variables cdnVestingDevname
    - name: cdnVestingDevname
      run: echo "CDNVESTING_NAME=${{ format('{0}{1}', env.CDNVESTING, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNVESTING: 'cdnVesting'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnVestingDevname
      run: echo "The cdnStoreDevname is $CDNVESTING_NAME"




  # fix formats of variables dappPrivateBucketDevname
    - name: dappPrivateBucketDevname
      run: echo "DAPPPRIVATEBUCKET_NAME=${{ format('{0}{1}', env.DAPPPRIVATEBUCKET, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        DAPPPRIVATEBUCKET: 'dappPrivateBucket'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string dappPrivateBucketDevname
      run: echo "The dappPrivateBucketDevname is $DAPPPRIVATEBUCKET_NAME"

  # fix formats of variables dappPublicBucketDevname
    - name: dappPublicBucketDevname
      run: echo "DAPPPUBLICBUCKET_NAME=${{ format('{0}{1}', env.DAPPPUBLICBUCKET, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        DAPPPUBLICBUCKET: 'dappPublicBucket'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string dappPublicBucketDevname
      run: echo "The dappPublicBucketDevname is $DAPPPUBLICBUCKET_NAME"