name: Concatenate Strings

on: [push]

env:
  DEVNAME_SUFFIX: nunu

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Concatenate strings using format
      run: echo "FULL_PATH=${{ format('{0}/{1}.{2}', env.FOLDER, env.FILENAME, env.EXT) }}" >> $GITHUB_ENV
      env:
        FOLDER: 'my_folder'
        FILENAME: 'my_file'
        EXT: 'txt'
    - name: Use concatenated string
      run: echo "The full path is $FULL_PATH"


# fix formats of variables

    # Runs multiple command to concatenate strings
    - id: string
      uses: ASzc/change-string-case-action@v6
      with:
        string: ${{ env.DEVNAME_SUFFIX }}
    - id: step2
      run: |
        echo DEVNAME_SUFFIX_CAPITALIZED=${{ steps.string.outputs.capitalized }}
        echo ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
        echo $DEVNAME_SUFFIX_CAPITALIZED


  # fix formats of variables apigw-devname
    - name: apigw-devname
      run: echo "APIGW_NAME=${{ format('{0}-{1}', env.APIGW, env.DEVNAME) }}" >> $GITHUB_ENV
      env:
        APIGW: 'apigw'
        DEVNAME: ${{ env.DEVNAME_SUFFIX }}
    - name: Use concatenated string
      run: echo "The apigw-devname is $APIGW_NAME"

  # fix formats of variables cdnDevname
    - name: cdnDappDevname
      run: echo "CDNDAPP_NAME=${{ format('{0}{1}', env.CDNDAPP2, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNDAPP2: 'cdnDapp'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string
      run: echo "The apigw-devname is $CDNDAPP_NAME"