name: Concatenate Strings

on: [push]

env:
  DEVNAME_SUFFIX: nunu
  NODE_ENV: devops
  MULTISTAGE: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Concatenate strings using format
      run: echo "FULL_PATH=${{ format('{0}/{1}.{2}', env.FOLDER, env.FILENAME, env.EXT) }}" >> $GITHUB_ENV
      env:
        FOLDER: 'my_folder'
        FILENAME: 'my_file'
        EXT: 'txt'    

# fix formats of variables
    # Runs multiple command to concatenate strings
    - id: string
      uses: ASzc/change-string-case-action@v6
      with:
        string: ${{ env.DEVNAME_SUFFIX }}
    - id: step2
      run: |
        echo DEVNAME_SUFFIX_CAPITALIZED=${{ steps.string.outputs.capitalized }} >> $GITHUB_ENV
        echo ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
        echo "the name of the devname is capitalized: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}"

  # fix formats of variables apigw-devname
    - name: apigw-devname
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "APIGW_NAME=${{ format('{0}{1}', env.APIGW, env.DEVNAME) }}" >> $GITHUB_ENV
      env:
        APIGW: 'apigw'
        DEVNAME: "-${{ env.DEVNAME_SUFFIX }}"
    - name: Use concatenated string apigw-devname
      run: echo "The apigw-devname is $APIGW_NAME"

    # fix formats of variables auth-pulumistack
    - name: auth-pulumistack
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "AUTH_NAME=${{ format('{0}{1}', env.AUTH_ENV_NAME, env.NODE_ENV_NAME) }}" >> $GITHUB_ENV
      env:
        AUTH_ENV_NAME: 'auth'
        NODE_ENV_NAME: "-${{ env.NODE_ENV }}"
    - name: Use concatenated string auth-pulumistack
      run: echo "The auth-pulumistack is $AUTH_NAME"

  # fix formats of variables cdnDappDevname
    - name: cdnDappDevname
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "CDNDAPP_NAME=${{ format('{0}{1}', env.CDNDAPP2, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNDAPP2: 'cdnDapp'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnDappDevname
      run: echo "The cdnDappDevname is $CDNDAPP_NAME"

  # fix formats of variables cdnStoreDevname
    - name: cdnStoreDevname
      if: ${{ env.MULTISTAGE == 'true' }}    
      run: echo "CDNSTORE_NAME=${{ format('{0}{1}', env.CDNSTORE, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNSTORE: 'cdnStore'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnStoreDevname
      run: echo "The cdnStoreDevname is $CDNSTORE_NAME"

  # fix formats of variables cdnVestingDevname
    - name: cdnVestingDevname
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "CDNVESTING_NAME=${{ format('{0}{1}', env.CDNVESTING, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNVESTING: 'cdnVesting'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnVestingDevname
      run: echo "The cdnStoreDevname is $CDNVESTING_NAME"

    # fix formats of variables cdnStakingDevname
    - name: cdnStakingDevname
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "CDNSTAKING_NAME=${{ format('{0}{1}', env.CDNSTAKING, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNSTAKING: 'cdnStaking'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnStakingDevname
      run: echo "The cdnStakingDevname is $CDNSTAKING_NAME"

    # fix formats of variables cdnAdminDevname
    - name: cdnAdminDevname
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "CDNADMIN_NAME=${{ format('{0}{1}', env.CDNADMIN, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        CDNADMIN: 'cdnAdmin'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string cdnStakingDevname
      run: echo "The cdnStakingDevname is $CDNSTAKING_NAME"

  # fix formats of variables dappPrivateBucketDevname
    - name: dappPrivateBucketDevname
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "DAPPPRIVATEBUCKET_NAME=${{ format('{0}{1}', env.DAPPPRIVATEBUCKET, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        DAPPPRIVATEBUCKET: 'dappPrivateBucket'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string dappPrivateBucketDevname
      run: echo "The dappPrivateBucketDevname is $DAPPPRIVATEBUCKET_NAME"

  # fix formats of variables dappPublicBucketDevname
    - name: dappPublicBucketDevname
      if: ${{ env.MULTISTAGE == 'true' }}
      run: echo "DAPPPUBLICBUCKET_NAME=${{ format('{0}{1}', env.DAPPPUBLICBUCKET, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        DAPPPUBLICBUCKET: 'dappPublicBucket'
        DEVNAME2: ${{ env.DEVNAME_SUFFIX_CAPITALIZED }}
    - name: Use concatenated string dappPublicBucketDevname
      run: echo "The dappPublicBucketDevname is $DAPPPUBLICBUCKET_NAME"


  # Variables single stage dappPubBucket
    - name: dappPubBucket-single-stage
      if: ${{ env.MULTISTAGE == 'false' }}
      run: echo "DAPPPUBLICBUCKET_NAME=${{ format('{0}{1}', env.DAPPPUBLICBUCKET, env.DEVNAME2) }}" >> $GITHUB_ENV
      env:
        DAPPPUBLICBUCKET: 'dappPublicBucket'
        DEVNAME2: ''
    - name: Use string dappPublicBucket
      run: echo "The dappPublicBucketDevname is $DAPPPUBLICBUCKET_NAME"

  # Variables single stage dappPrivBucket
    - name: dappPrivBucket-single-stage
      if: ${{ env.MULTISTAGE == 'false' }}
      run: echo "DAPPPRIVATEBUCKET_NAME=${{ format('{0}{1}', env.DAPPPRIVATEBUCKET, env.DEVNAME2) }}" >> $GITHUB_ENV
      env: 
        DAPPPRIVATEBUCKET_NAME: 'dappPrivBucket'
        DEVNAME2: ''
    - name: Use string dappPrivateBucket
      run: echo "The dappPrivBucket is $DAPPPRIVATEBUCKET_NAME"

  # Variables single stage auth
    - name: auth-single-stage
      if: ${{ env.MULTISTAGE == 'false' }}
      run: echo "AUTH_NAME=${{ format('{0}{1}', env.AUTH_ENV_NAME, env.NODE_ENV_NAME) }}" >> $GITHUB_ENV
      env: 
        AUTH_NAME: 'auth'
        NODE_ENV_NAME: ''
    - name: Use string auth        
      run: echo "The auth is $AUTH_NAME"

  # Variables single stage auth
    - name: dappSite-single-stage
      if: ${{ env.MULTISTAGE == 'false' }}
      run: echo "CDNDAPP_NAME=${{ format('{0}{1}', env.CDNDAPP2, env.DEVNAME2) }}" >> $GITHUB_ENV
      env: 
        CDNDAPP2: 'dappSite'
        DEVNAME2: ''
    - name: Use string cdnDapp
      run: echo "The cdnDapp is $CDNDAPP_NAME"


  # Variables single stage storeSite
    - name: storeSite-single-stage
      if: ${{ env.MULTISTAGE == 'false' }}
      run: echo "CDNSTORE_NAME=${{ format('{0}{1}', env.CDNSTORE, env.DEVNAME2) }}" >> $GITHUB_ENV
      env: 
        CDNSTORE: 'storeSite'
        DEVNAME2: ''
    - name: Use string storeSite
      run: |
        echo "The dappSite is $CDNSTORE_NAME"

  # Variables single stage vesting
    - name: all-single-stage
      run: |
        echo "The dapppublicbucket is ${{ env.DAPPPUBLICBUCKET_NAME }}"
        echo "The dappPrivBucket is ${{ env.DAPPPRIVATEBUCKET_NAME }}"  
        echo "The auth is ${{ env.AUTH_NAME }}"
        echo "The dappSite is ${{ env.CDNDAPP_NAME }}"
        echo "The storeSite is ${{ env.CDNSTORE_NAME }}"
        echo "The vesting is ${{ env.CDNVESTING_NAME }}"
        echo "The cdnStaking is ${{ env.CDNSTAKING_NAME }}"
        echo "The cdnAdmin is ${{ env.CDNADMIN_NAME }}"
        
        